# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Our staff
Qt/4.7.0/**
!Qt/4.7.0/readme.txt
Qt/4.7.1/**
!Qt/4.7.1/readme.txt